<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.Taocaimall.Superior - 2</key>
	<dict/>
	<key>com.Taocaimall.Superior</key>
	<dict/>
	<key>com.gd.taocaimall</key>
	<dict/>
</dict>
</plist>
