<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppKey</key>
	<string>55d53a0767e58e8eb5000d7e</string>
	<key>AppId</key>
	<string>58f9acd7310c9349f90013d0</string>
</dict>
</plist>
