<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
		<key>AppId</key>
		<string>kf_9164</string>
		<key>AppKey</key>
		<string>5288797B-4592-4079-9C13-A092FC61F02E</string>
		<key>AppSecret</key>
		<string>kf_9164_1453981797044</string>
</dict>
</plist>
